---
---

@font-face {
  font-family: 'Inter';
  src: url('/assets/fonts/Inter-Regular.ttf') format('truetype');
  font-weight: 400; font-display: swap;
}
@font-face {
  font-family: 'Rabiqcute';
  src: url('/assets/fonts/rabiqcute-regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* 全体 */

html:lang(ja), :lang(zh) {
  font-size: 0.93em;
}

html:lang(ja) body {
  font-family: "Noto Sans JP", "Hiragino Sans", sans-serif;
  letter-spacing: 0.02em;
  line-height: 1.9em;
  font-size: 0.93em;
}

html:lang(zh) body {
  font-family: "Noto Sans SC", "PingFang SC", "Inter", sans-serif;
  letter-spacing: 0.02em;
    line-height: 1.9em;
  font-size: 0.93em;
}
html:lang(en) body {
  font-family: "RabiqCute", "Inter", "Noto Sans JP","Noto Sans SC",system-ui,sans-serif;
  letter-spacing: 0.02em;

}
body {

  font-size: 1.125rem;
  line-height: 1.85;
  letter-spacing: 0.015em;
  max-width: 100%;
  margin: 24 20 0 9%;
  padding: 0;
  display: block !important;
}


/* PC（オフセット適用） */
@media (min-width: 768px) {
  body {
    max-width: 100%;
    margin: 24 auto auto 12%;
  }
}



.page-content {
    max-width: 100%;
}

.site-header {
  all: unset;
  display: block !important;
  margin-top: 0px;
  margin-bottom: 3em;
}

.site-title {
  font-size: 2.5rem; 
  font-weight: 300;
  letter-spacing: 0.08em;
  line-height: 1.1em;
  display: block !important;
  float: none;
  margin: 0;
  padding-left: 5px;
}

.site-title a {
  color: inherit;
  text-decoration: none;
}

.site-nav {
  margin-top: 0px;
  padding-left: 0.8em;
  font-size: 0.9rem;
  line-height: 1.1em;
  opacity: 0.6;
  float: none; 

}

.site-nav a {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid #999;
}

.site-nav a:hover {
  border-bottom: 1px solid #000;
}

.zine {
  max-width: 62ch;
  margin-top: 0;
}

.post-header {
  margin-bottom: 0;
}
/* タイトル */
.post-title {
  font-size: 2.2rem;
  font-weight: 300;
  line-height: 1em;
  letter-spacing: 0.04em;
  margin-bottom: 0.3em;
  margin-left: -10px;
}

/* 日付 */
.post-date {
  font-size: 0.8rem;
  opacity: 0.6;
  margin-bottom: 1em;
  margin-left: -10px;
}

/* 本文 */
.post-content p {
  margin-right: 1.8em;
  margin-bottom: 1.2em;
}

/* 見出し */
h2 {
  font-size: 1.5rem;
  font-weight: normal;
  margin-top: 1.1em;
  margin-left: -0.4em;
} 

.post-content h2 {
  font-size: 1.5rem; /* 本文より大きめ */
  margin-top: 1.0em;
  margin-bottom: 0.5em;
  font-weight: 400; 
  margin-left: -0.4em;
  line-height: 1.1em;
}
.post-content h3 {
 font-size: 1.5rem; /* 本文より大きめ */
  margin-top: 1.0em;
  margin-bottom: 0.5em;
  font-weight: 400; 
  margin-left: -0.4em;
  line-height: 1.1em;
}

.post-nav {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
  font-size: 0.9rem;
}

.post-nav a {
  text-decoration: none;
  opacity: 0.8;
}


/* リンク */
a {
  text-decoration: none;
  border-bottom: none;
}

a:hover {
  background: #000;
  color: #fff;
  border-bottom: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 20px 0;
}


/* イントロ */
.intro p{
  max-width: 680px;
  line-height: 1.9;
  margin-left: 10px;
  margin-bottom: 60px;
  font-size: 0.7rem;
  opacity: 0.7;
  display: block !important;
}

/* リスト */
.zine-list {
  list-style: none;
  padding: 0;
}

/* 各記事 */
.zine-list li {
  margin-bottom: 1.2em;
}

/* 日付 */
.date {
  display: block;
  font-size: 0.8rem;
  opacity: 0.5;
}

/* タイトル */
.zine-list a {
  font-size: 1.1rem;
  text-decoration: none;
  border-bottom: 1px solid #000;
}

/* フッター */
.site-footer {
  margin-top: 80px;
  margin-bottom: 40px;
  font-size: 0.8rem;
  opacity: 0.5;
  font-family: Inter;  
}

.site-footer a {
  border-bottom: none;
}

.site-footer a:hover {
  background: #000;
  color: #fff;
  border-bottom: none;
}
