---
---

@font-face {
  font-family: 'Inter';
  src: url('/assets/fonts/Inter-Regular.ttf') format('truetype');
  font-weight: 400; font-display: swap;
}
@font-face {
  font-family: 'Rabiqcute';
  src: url('/assets/fonts/rabiqcute-regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* 全体 */
html {
  font-family: sans-serif;
  font-family: "RabiqCute", "Inter", "Noto Sans JP","Noto Sans SC",system-ui,sans-serif;
  letter-spacing: 0.02em;
  font-size: 16px; 
}

body {
  max-width: 800px;
  margin: 24px auto auto 12%;
  font-size: 1.5rem;
  line-height: 1.85;
  letter-spacing: 0.015em;
  padding: 2.0rem 1rem;
  display: block !important;
}

html:lang(ja) body {
  font-size: 1rem;
  font-family:  "Inter" ,"Noto Sans JP", "Hiragino Sans", sans-serif;
  letter-spacing: 0.02em;
  line-height: 1.9em;
}

html:lang(zh) body {
  font-size: 1rem;
  font-family:  "Inter", "Noto Sans SC", "PingFang SC", "Inter", sans-serif;
  letter-spacing: 0.02em;
  line-height: 1.9em;
}



/* リンク */
a {
  text-decoration: none;
  border-bottom: none;
}

a:hover {
  background: #000;
  color: #fff;
  border-bottom: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 20px 0;
}


.page-content {
    max-width: 100%;
}


/* header */
.site-header {
  all: unset;
  display: block !important;
  margin-top: 0px;
  margin-bottom: 3em;
}

.site-title {
  font-size: 3.4rem; 
  font-weight: 300;
  letter-spacing: 0.08em;
  line-height: 1.1em;
  display: block !important;
  float: none;
  margin: 0;
  padding-left: 0;
}
html:lang(ja, zh) .site-title {
  font-size: 2.0rem; 
}

.site-title a {
  color: inherit;
  text-decoration: none;
}

.site-nav {
  display: flex;
  gap: 20px;  
  flex-wrap: wrap;    
  margin-top: 0.7em;
  padding-left: 0.8em;
  font-size: 1em;
  line-height: 1.1em;
  opacity: 0.6;
}

.site-nav a {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid #999;
}

.site-nav a:hover {
  border-bottom: 1px solid #000;
}

/* contents */

.zine {
  max-width: 64ch;
  margin: 0 2em auto 4%;
}
html:lang(ja) .zine {
  max-width: 77ch;
}
html:lang(zh) .zine {
  max-width: 80ch;
}

.zine p:nth-child  { margin-left: 1.15em; }
.zine p:nth-child(2n)  { margin-left: 1.15em; }
.zine p:nth-child(3n)  { margin-left: 1.1em; }
.zine p:nth-child(5n)  { margin-left: 0.9em; }
.zine p:nth-child(7n)  { margin-left: 1.05em; }
.zine p:nth-child(11n) { margin-left: 0.85em; }

.post-header {
  margin-bottom: 0;
}

.post-title {
  font-size: 2.2em;
  font-weight: 400;
  line-height: 0.8em;
  letter-spacing: 0.04em;
  margin-top: 0; 
  margin-right: auto;
  margin-bottom: 0;
  margin-left: -10px;
}

.post-date {
  font-size: 0.9em;
  opacity: 0.6;
  margin: 0;
}

.lang-switch {
  font-size: 0.8em;
  margin-bottom: 1em;
  margin-left: -5px;
}


/* 本文 */
.post-content p {
  margin-left: 1.0em;
  margin-bottom: 1.2em;
}

/* 見出し */
h2 {
  font-size: 1.7em;
  font-weight: 400;
  margin-top: 2.4em;
  margin-left: 0.4em;
} 

.zine h2 {
  font-size: 1.7em; /* 本文より大きめ */
  margin-top: 2.4em;
  margin-bottom: 0.5em;
  font-weight: 400; 
  margin-left: 0.4em;
  line-height: 1.1em;
}
.zine h3 {
 font-size: 1.7em; /* 本文より大きめ */
  margin-top: 2.4em;
  margin-bottom: 0.5em;
  font-weight: 400; 
  margin-left: 0.4em;
  line-height: 1.1em;
}

.license-note {
  font-size: 0.7em;
  color: #666;
  margin: 2.6em 0;
  line-height: 1.2;
}

/* ポストナビ */
.post-nav {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
  font-size: 0.9em;
}

.post-nav a {
  text-decoration: none;
  opacity: 0.8;
}

/* index */
.intro p{
  max-width: 680px;
  line-height: 1.9;
  margin-left: 10px;
  margin-bottom: 60px;
  font-size: 0.7rem;
  opacity: 0.7;
  display: block !important;
}

.zine-list {
  list-style: none;
  padding: 0;
}

.zine-list li {
  font-size: 1.2em; 
  line-height: 1;
}

.post-date li{
  font-size: 0.8em;
  opacity: 0.6;
  margin-bottom: 0em;
  margin-left: -5px;
}

.date {
  display: block;
  font-size: 0.8em;
  opacity: 0.5;
}

.zine-list a {
  font-size: 1.1em;
  text-decoration: none;
  border-bottom: none;
}

.post-excerpt {
  margin: 0 0 1.4em 1em;
  line-height:1em;
}

/* about */
.social-links {
  margin-top: 2.4em;
  display: flex;
  gap: 1.5em;
  font-size: 0.95em;
}


/* フッター */
.site-footer {
  margin-top: 80px;
  margin-bottom: 40px;
  font-size: 0.8em;
  opacity: 0.5;
}

.site-footer a {
  border-bottom: none;
}

.site-footer a:hover {
  background: #000;
  color: #fff;
  border-bottom: none;
}