---
layout: default
title: {{ page.title }}
---

<article class="post">
 <header class="post-header">
   <p class="post-date">{{ page.date | date: "%B %-d, %Y" }}</p>
  <h1 class="post-title">{{ page.title }}</h1> 
  
  {% if page.ref and page.ref != "" %}
      {% assign translations = site.posts | where: "ref", page.ref %}
      {% if translations.size > 1 %}
        <div class="lang-switch">
          {% for post in translations %}
            {% if post.lang == page.lang %}
              <strong>{{ post.lang }}</strong>
            {% else %}
              <a href="{{ post.url }}">{{ post.lang }}</a>
            {% endif %}
          {% endfor %}
        </div>
      {% endif %}
    {% endif %}

</header>
  <div class="post-content">
    {{ content }}
    <p class="post-source">
      <a href="https://tomaverlaine.github.io{{ page.url }}">→ Chinese Postpunk Anthology</a>
    </p>
  </div>
</article>
<div>
{% assign posts = site.posts | where: "lang", page.lang | sort: "date" | reverse %}
{% assign prev_post = nil %}
{% assign next_post = nil %}
{% for post in posts %}
  {% if post.url == page.url %}
    {% assign next_post = posts[forloop.index] %}
    {% if forloop.index0 > 0 %}
      {% assign prev_index = forloop.index0 | minus: 1 %}
      {% assign prev_post = posts[prev_index] %}
    {% endif %}
  {% endif %}
{% endfor %}

<nav class="post-nav">
  {% if next_post %}
    <a href="{{ next_post.url }}">← {{ next_post.title }}</a>
  {% endif %}
  {% if prev_post %}
    <a href="{{ prev_post.url }}">{{ prev_post.title }} →</a>
  {% endif %}
</nav>
</div>
