---
layout: default
title: {{ page.title }}
---

<div class="zine">
<article class="post">
 <header class="post-header">
  <h1 class="post-title">{{ page.title }}</h1>
  <h2 class="post-subtitle">{{ page.subtitle }}</h2>
  <p class="post-date">{{ page.date | date: "%B %-d, %Y" }}</p>
  
  {% if page.ref and page.ref != "" %}
      {% assign translations = site.posts | where: "ref", page.ref %}
      {% if translations.size > 1 %}
        <div class="lang-switch">
          {% for post in translations %}
            {% if post.lang == page.lang %}
              <strong>{{ post.lang }}</strong>
            {% else %}
              <a href="{{ post.url }}">{{ post.lang }}</a>
            {% endif %}
          {% endfor %}
        </div>
      {% endif %}
    {% endif %}

</header>
  <div class="post-content">
    {{ content }}
    <p class="post-source">
      <a href="https://tomaverlaine.github.io{{ page.url }}">→ Chinese Postpunk Anthology</a>
    </p>
  </div>
</article>

<div class="post-nav">
  {% if page.previous and page.lang == "en" %}
    <a class="prev" href="{{ page.previous.url | relative_url }}">{{ page.previous.title }}</a>
  {% else %}
    <span class="prev"></span>
  {% endif %}

  <a class="index" href="{{ '/' | relative_url }}">Index</a>

  {% if page.next and page.lang == "en" %}
    <a class="next" href="{{ page.next.url | relative_url }}">{{ page.next.title }}</a>
  {% else %}
    <span class="next"></span>
  {% endif %}
</div>
</div>